.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.shape {
  height: 100px;
  width: 100px;
  border: 1px solid #ccc;
  transition: 2s border-radius;
}
